.mynav{
    margin: 50px 50px 50px 50px;
}
.mysearch{
    width: 200px;
    height: 70px;
}
.navbars{
    margin-left: 400px;
}
.carotext{
   position: absolute;
   
   top: 200px;

}
.text1{
    font-size: 80px;
}
.caroimg{
    position: relative;
}
.caromain{
    margin-left: 60px;
    margin-right: 60px;
}
 @media screen and (max-width: 992px) {
 .mycourse{
 flex-direction:column;
 }
}